[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/dev-logs/vaishnavi-wagajeep"]
	path = content/dev-logs/vaishnavi-wagajeep
	url = https://github.com/vaishnavi-wagajeep/dev-log.git
